body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 5rem;
  background-color: rgb(245, 243, 240);
}

#story {
  background-color: rgb(245, 243, 240);
}

footer {
  background-color: rgb(245, 243, 240);
}
